/* -- REGULAR -- */
@font-face {  
	font-family: 'Scout';
	font-weight: 400;
	src:url("../fonts/Scout-Regular.otf") format('opentype');
}
/* -- COND - REGULAR -- */
@font-face {
	font-family: 'Scout';
	font-weight: 500;
	src:url("../fonts/ScoutCond-Regular.otf")format('opentype');
}
/* -- BOLD -- */
@font-face {
	font-family: 'Scout';
	font-weight: 700;
	src:url("../fonts/Scout-Bold.otf")format('opentype');
}
/* -- EXTRA - LIGHT -- */
@font-face {
	font-family: 'Scout';
	font-weight: 200;
	src:url("../fonts/Scout-ExtraLight.otf.otf")format('opentype');
}
/* -- LIGHT -- */
@font-face {
	font-family: 'Scout';
	font-weight: 300;
	src:url("../fonts/Scout-Light.otf")format('opentype');
}
/* -- THIN -- */
@font-face {
	font-family: 'Scout';
	font-weight: 100;
	src:url("../fonts/Scout-Thin.otf")format('opentype');
}

/* -------------> GENERAL <-------------*/ 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family:'Scout';
}

.flex-container{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

/* -------------> TOP PART <-------------*/
header{
	background-color: #262626;
	padding: 10px;
	height: 40px;
	color: 	#FFFFFF;
}

header img{
	height: 20px;
	padding-left: 10px;
}
header a{
	text-decoration: none;
	color: #FFFFFF;
}
#left-client{
	padding: 5px;
	float: left;
	margin-left: 50px;
}

#left-client h4{
	font-family: 'Scout';
	font-weight: 200;
	font-size: 15px;
	text-decoration: none;
	color: #FFFFFF;
}

#right-client{
	float: right;
	margin-right: 50px;
}

#right-client h3 {
	font-family: 'Scout';
	font-weight: 100;
	font-size: 17px;
}

#right-client p {
	font-family: 'Scout';
	font-weight: 100;
	font-size: 10px;
	color: white;
}

#vertical-line{
	border-left: thin solid #FFFFFF;
}

/* -------------> MENU <-------------*/

#estudio h1{
	font-family: 'Scout';
	font-weight: 700;
	font-size: 40px;
	color: #262626;

}

#menu, #estudio{
	padding:5px;

}

#menu a{
	text-decoration: none;
	color:#262626;
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	padding-right: 20px;
}

#menu a:hover{
	opacity: 0.7;
}
/* -------------> FIN MENU <-------------*/

/* -------------> FREE SHIPPING <-------------*/
#shipment{
	background-color: #21386B;
	height: 40px;
	padding: 10px;
}

#shipment h5{
	color: 	#FFFFFF;
	font-family: 'Scout';
	font-weight: 400;
	padding-right: 10px;
	padding-top: 1px;
	font-size: 16px;
}

#shipment a{
	font-size: 16px;
	text-decoration: none;
	color: 	#FFFFFF;
	font-family: 'Scout';
	font-weight: 200;
}

#shipment a:active {
	opacity: 0.5;
}

#shipment a:link {
	color:	#FFFFFF;
}
/* -------------> FIN - FREE SHIPPING <-------------*/

/* -------------> DESTACADOS <-------------*/
.destacados{
	justify-content: center;
	display: flex;
	padding: 40px;
}

.destacados h1{
	font-size: 50px;
	color:#262626;
	font-family: 'Scout';
	font-stretch: condensed;
	padding: 20px;
}

.product{
	text-align: center;
	font-family: 'Scout';
	font-weight: 200;
	color: #262626;
}
.post{
	padding-top: 50px;
}
/* -------------> FIN - DESTACADOS <-------------*/

/* -------------> VARIOS <-------------*/

#varios{
	width: 900px;
	margin-top: 60px;
	margin-left: 100px;
}
.large{
	width: 66.66%;
}

.small{
	width: 33.33%
}







/* -------------> VARIOS <-------------*/
.text-center {
	font-family: 'Scout';
	text-align: center;
	color: #262626;
}
.text-center h3{
	font-size: 50px;
	
	font-weight: 500;
}
.text-center p{
	font-size: 20px;
	
	font-weight: 200;
}

#people img{
	padding: 20px;
	opacity: 0.7;
}
#people img:hover{
	opacity: 1;
}

/* -------------> TEXTO INFORMACION <-------------*/
#info{
	width: 80%;
	display: flex;
	margin-left: 100px;
}
#info h5, p{
	color: #262626;
	justify-content: center;
	
	text-align: center;
	font-family: 'Scout';
	font-weight:400;

}
#info h5{
	padding-top: 20px;
	font-size: 30px;
	font-family: 'Scout';
	font-weight:500;
	text-transform: uppercase;
}
#info p{
	font-family: 'Scout';
	font-weight:300;
}
/* -------------> FIN - TEXTO INFORMACION <-------------*/

/* -------------> SOCIAL NETWORK ICONS <-------------*/
#socialNetwork{
	display: flex;
	justify-content: center;
	background-color: #262626;
	height: 100px;
	margin-bottom: 50px;
	margin-top:30px;
}

#socialNetwork a:hover img:hover {
		opacity: 0.3;

}

#socialNetwork img{
	padding: 30px; 
}
footer{
	margin-bottom: 100px;
}

/* -------------> FIN SOCIAL NETWORK ITEMS <-------------*/

/* -------------> ATENCION CLIENTE <-------------*/
.services ul {
	display: inline-block;
	font-weight: 300;
	font-size: 20px;
	margin: 30px;

}

ul .title {
	text-transform: uppercase;
	display: inline-block;
	font-size: 20px;	
	letter-spacing: 1px;
}
#list li{
 	color: #262626;
	list-style: none;
	padding-bottom: 10px;
	font-family: 'Scout';
	font-weight: 200;
	padding-right: 60px;

}

/* -------------> ATENCION CLIENTE <-------------*/





@media screen and (min-width: 780px) and (max-width: 1024px){

}
@media screen and (min-width: 320px) and (max-width: 780px){

/* HEADER - MEDIA */
	header{
		display: none;
	}

	#menu a{
		text-decoration: none;
		color:#262626;
		text-align: center;
		font-weight: 500;
		font-size: 24px;
		padding-right: 12px;
	}
}


.destacados h1{
	font-size: 30px;
	color:#262626;
	font-family: 'Scout';
	font-stretch: condensed;
	padding: 20px;
}

@media screen and (max-width: 480px){

/* HEADER - MEDIA */
	header{
		display: none;
	}

/* FREE SHIPPING - MEDIA */
	#shipment{
		height: 35px;
	}

	#shipment h5{
		font-size: 11px;
		color: 	#FFFFFF;
		font-family: 'Scout';
		font-weight: 400;
		padding-right: 10px;
	}

	#shipment a{
	font-size: 11px;
	text-decoration: none;
	color: 	#FFFFFF;
	font-family: 'Scout';
	font-weight: 200;
	}

/* MENU - MEDIA */ 

	#menu a{
		text-decoration: none;
		color:#262626;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		padding-right: 12px;
	}

/* DESTACADOS - MEDIA */ 
	.destacados h1{
		display: none;
	}

	.destacados img{
		transform: scale(0.7); 
	}
	.post{
		display: none;
	}

/* SOCIAL NETWORK - MEDIA */

	#socialNetwork{
		display: flex;
		justify-content: center;
		background-color: #262626;
		height: 80px;
		margin-bottom: 50px;
	}
	#socialNetwork img{
	padding:20px;
	}

